{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% trans_default_domain ea.i18n.translationDomain %}

<!DOCTYPE html>
<html lang="{{ ea.i18n.htmlLocale }}" dir="{{ ea.i18n.textDirection }}">
<head>
    {% block head_metas %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots"
              content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="generator" content="EasyAdmin"/>
    {% endblock head_metas %}

    <title>{% block page_title %}{{ block('content_title')|striptags|raw }}{% endblock %}</title>

    {% block head_stylesheets %}
        {{ encore_entry_link_tags('easyadmin') }}
    {% endblock %}

    {% block configured_stylesheets %}
        {{ encore_entry_link_tags('easyadmin') }}
    {% endblock %}

    {% block head_favicon %}
        <link rel="shortcut icon" href="{{ asset(ea.dashboardFaviconPath) }}">
    {% endblock %}

    {% block head_javascript %}
        <script src="{{ asset('bundles/easyadmin/app.js') }}"></script>
    {% endblock head_javascript %}

    {% if 'rtl' == ea.i18n.textDirection %}
        <link rel="stylesheet" href="{{ asset('bundles/easyadmin/app.rtl.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/easyadmin/app-custom-rtl.css') }}">
    {% endif %}

    {% block configured_head_contents %}
        {% for htmlContent in ea.assets.headContents ?? [] %}
            {{ htmlContent|raw }}
        {% endfor %}
    {% endblock %}
</head>

{% block body %}
    <body id="{% block body_id %}{% endblock %}" class="ea {% block body_class %}{% endblock %}">
    {% block javascript_page_layout %}
        <script>
            document.body.classList.add(
                'ea-content-width-' + (localStorage.getItem('ea/content/width') || '{{ ea.crud.contentWidth ?? ea.dashboardContentWidth ?? 'normal' }}'),
                'ea-sidebar-width-' + (localStorage.getItem('ea/sidebar/width') || '{{ ea.crud.sidebarWidth ?? ea.dashboardSidebarWidth ?? 'normal' }}')
            );
        </script>
    {% endblock javascript_page_layout %}

    {% block wrapper_wrapper %}
        {% block flash_messages %}
            {{ include(ea.templatePath('flash_messages')) }}
        {% endblock flash_messages %}
        <div class="h-screen flex overflow-hidden bg-white">
            <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
            <div class="fixed inset-0 flex z-40 lg:hidden" role="dialog" aria-modal="true">
                <!--
                  Off-canvas menu overlay, show/hide based on off-canvas menu state.

                  Entering: "transition-opacity ease-linear duration-300"
                    From: "opacity-0"
                    To: "opacity-100"
                  Leaving: "transition-opacity ease-linear duration-300"
                    From: "opacity-100"
                    To: "opacity-0"
                -->
                <div class="fixed inset-0 bg-gray-600 bg-opacity-75" aria-hidden="true"></div>

                <!--
                  Off-canvas menu, show/hide based on off-canvas menu state.

                  Entering: "transition ease-in-out duration-300 transform"
                    From: "-translate-x-full"
                    To: "translate-x-0"
                  Leaving: "transition ease-in-out duration-300 transform"
                    From: "translate-x-0"
                    To: "-translate-x-full"
                -->
                <div class="relative flex-1 flex flex-col max-w-xs w-full pt-5 pb-4 bg-white">
                    <!--
                      Close button, show/hide based on off-canvas menu state.

                      Entering: "ease-in-out duration-300"
                        From: "opacity-0"
                        To: "opacity-100"
                      Leaving: "ease-in-out duration-300"
                        From: "opacity-100"
                        To: "opacity-0"
                    -->
                    <div class="absolute top-0 right-0 -mr-12 pt-2">
                        <button class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
                            <span class="sr-only">Close sidebar</span>
                            <!-- Heroicon name: outline/x -->
                            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </button>
                    </div>
                    {% block header_logo %}
                        <div class="flex-shrink-0 flex justify-center items-center px-4">
                            <a class="text-lg font-medium leading-6 text-gray-900 sm:truncate uppercase rounded-lg focus:outline-none focus:shadow-outline transition duration-300 hover:opacity-60"
                               title="{{ ea.dashboardTitle|striptags }}"
                               href="{{ path(ea.dashboardRouteName) }}">
                                {{ ea.dashboardTitle|raw }}
                            </a>
                        </div>
                    {% endblock header_logo %}

                    <div class="mt-5 flex-1 h-0 overflow-y-auto">
                        <nav class="px-2">
                            <div class="space-y-1">

                                {% block main_menu_wrapper %}
                                    {{ include(ea.templatePath('main_menu')) }}
                                {% endblock main_menu_wrapper %}

                            </div>
                            <div class="mt-8">
                                <h3 class="px-3 text-xs font-semibold text-gray-500 uppercase tracking-wider"
                                    id="teams-headline">
                                    Teams
                                </h3>
                                <div class="mt-1 space-y-1" role="group" aria-labelledby="teams-headline">
                                    <a href="#"
                                       class="group flex items-center px-3 py-2 text-base leading-5 font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
                                        <span class="w-2.5 h-2.5 mr-4 bg-indigo-500 rounded-full"
                                              aria-hidden="true"></span>
                                        <span class="truncate">
                  Engineering
                </span>
                                    </a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>

                <div class="flex-shrink-0 w-14" aria-hidden="true">
                    <!-- Dummy element to force sidebar to shrink to fit close icon -->
                </div>
            </div>

            <!-- Static sidebar for desktop -->
            <div class="hidden lg:flex lg:flex-shrink-0">
                <div class="flex flex-col w-64 border-r border-gray-200 pt-5 pb-4 bg-gray-100">
                    <div class="flex items-center flex-shrink-0 px-6">
                        {{ block('header_logo') }}
                    </div>
                    <!-- Sidebar component, swap this element with another sidebar if you like -->
                    <div class="h-0 flex-1 flex flex-col overflow-y-auto">
                        <!-- User account dropdown -->
                        <div class="px-3 mt-6 relative inline-block text-left">
                            <div>
                                <button type="button"
                                        class="group w-full bg-gray-100 rounded-md px-3.5 py-2 text-sm text-left font-medium text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-purple-500"
                                        id="options-menu" aria-expanded="false" aria-haspopup="true">
              <span class="flex w-full justify-between items-center">
                <span class="flex min-w-0 items-center justify-between space-x-3">
                    {% if ea.user.avatar is defined %}
                        <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0"
                             src="{{ ea.user.avatarUrl }}"/>
                    {% else %}
                        <div class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0"></div>
                    {% endif %}
                  <span class="flex-1 flex flex-col min-w-0">
                    <span class="text-gray-900 text-sm font-medium truncate">{{ ea.userMenu.name }}</span>
                    <span class="text-gray-500 text-sm truncate">Administrateur</span> {# @TODO make a config to get real role (ex:  ROLE_ADMIN: Administrateur) #}
                  </span>
                </span>
                  <!-- Heroicon name: solid/selector -->
                <svg class="flex-shrink-0 h-5 w-5 text-gray-400 group-hover:text-gray-500"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd"
                        d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                        clip-rule="evenodd"/>
                </svg>
              </span>
                                </button>
                            </div>

                            <!--
                              Dropdown menu, show/hide based on menu state.

                              Entering: "transition ease-out duration-100"
                                From: "transform opacity-0 scale-95"
                                To: "transform opacity-100 scale-100"
                              Leaving: "transition ease-in duration-75"
                                From: "transform opacity-100 scale-100"
                                To: "transform opacity-0 scale-95"
                            -->
                            {# <div class="z-10 mx-3 origin-top absolute right-0 left-0 mt-1 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-200 focus:outline-none" #}
                            {# role="menu" aria-orientation="vertical" aria-labelledby="options-menu"> #}
                            {# <div class="py-1" role="none"> #}
                            {# <a href="#" #}
                            {# class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" #}
                            {# role="menuitem">View profile</a> #}
                            {# <a href="#" #}
                            {# class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" #}
                            {# role="menuitem">Settings</a> #}
                            {# <a href="#" #}
                            {# class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" #}
                            {# role="menuitem">Notifications</a> #}
                            {# </div> #}
                            {# <div class="py-1" role="none"> #}
                            {# <a href="#" #}
                            {# class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" #}
                            {# role="menuitem">Get desktop app</a> #}
                            {# <a href="#" #}
                            {# class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" #}
                            {# role="menuitem">Support</a> #}
                            {# </div> #}
                            {# <div class="py-1" role="none"> #}
                            {# <a href="#" #}
                            {# class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" #}
                            {# role="menuitem">Logout</a> #}
                            {# </div> #}
                            {# </div> #}
                        </div>
                        <!-- Sidebar Search -->
                        <div class="px-3 mt-5">
                            <label for="search" class="sr-only">Search</label>
                            <div class="mt-1 relative rounded-md shadow-sm">
                                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
                                     aria-hidden="true">
                                    <!-- Heroicon name: solid/search -->
                                    <svg class="mr-3 h-4 w-4 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                </div>
                                <input type="text" name="search" id="search"
                                       class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-9 sm:text-sm border-gray-300 rounded-md"
                                       placeholder="Search">
                            </div>
                        </div>
                        <!-- Navigation -->
                        <nav class="px-3 mt-6">
                            <div class="space-y-1">
                                <!-- Current: "bg-gray-200 text-gray-900", Default: "text-gray-700 hover:text-gray-900 hover:bg-gray-50" -->
                                {{ block('main_menu_wrapper') }}
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Main column -->
            <div class="flex flex-col w-0 flex-1 overflow-hidden">
                <!-- Search header -->
                <div class="relative z-10 flex-shrink-0 flex h-16 bg-white border-b border-gray-200 lg:hidden">
                    <!-- Sidebar toggle, controls the 'sidebarOpen' sidebar state. -->
                    <button class="px-4 border-r border-gray-200 text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-purple-500 lg:hidden">
                        <span class="sr-only">Open sidebar</span>
                        <!-- Heroicon name: outline/menu-alt-1 -->
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M4 6h16M4 12h8m-8 6h16"/>
                        </svg>
                    </button>
                    <div class="flex-1 flex justify-between px-4 sm:px-6 lg:px-8">
                        <div class="flex-1 flex">
                            <form class="w-full flex md:ml-0" action="#" method="GET">
                                <label for="search_field" class="sr-only">Search</label>
                                <div class="relative w-full text-gray-400 focus-within:text-gray-600">
                                    <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none">
                                        <!-- Heroicon name: solid/search -->
                                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                             fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                    </div>
                                    <input id="search_field" name="search_field"
                                           class="block w-full h-full pl-8 pr-3 py-2 border-transparent text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-0 focus:border-transparent focus:placeholder-gray-400 sm:text-sm"
                                           placeholder="Search" type="search">
                                </div>
                            </form>
                        </div>
                        <div class="flex items-center">
                            <!-- Profile dropdown -->
                            <div class="ml-3 relative">
                                <div>
                                    <button type="button"
                                            class="max-w-xs bg-white flex items-center text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500"
                                            id="user-menu" aria-expanded="false" aria-haspopup="true">
                                        <span class="sr-only">Open user menu</span>
                                        <img class="h-8 w-8 rounded-full"
                                             src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?ixlib=rb-1.2.1&ixqx=z5gQzyVp0c&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                             alt="">
                                    </button>
                                </div>

                                <!--
                                  Dropdown menu, show/hide based on menu state.

                                  Entering: "transition ease-out duration-100"
                                    From: "transform opacity-0 scale-95"
                                    To: "transform opacity-100 scale-100"
                                  Leaving: "transition ease-in duration-75"
                                    From: "transform opacity-100 scale-100"
                                    To: "transform opacity-0 scale-95"
                                -->
                                <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-200 focus:outline-none"
                                     role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                                    <div class="py-1" role="none">
                                        <a href="#"
                                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                           role="menuitem">View profile</a>
                                        <a href="#"
                                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                           role="menuitem">Settings</a>
                                        <a href="#"
                                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                           role="menuitem">Notifications</a>
                                    </div>
                                    <div class="py-1" role="none">
                                        <a href="#"
                                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                           role="menuitem">Get desktop app</a>
                                        <a href="#"
                                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                           role="menuitem">Support</a>
                                    </div>
                                    <div class="py-1" role="none">
                                        <a href="#"
                                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                           role="menuitem">Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none">
                    <!-- Page title & actions -->
                    <div class="border-b border-gray-200 px-4 py-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8">
                        <div class="flex-1 min-w-0">
                            <h1 class="py-2 text-lg font-medium leading-6 text-gray-900 sm:truncate">
                                {# handled by setEntityLabelInPlural method #}
                                {% block content_title %}
                                    <div class="flex-1 min-w-0">
                                        <h1 class="text-lg font-medium leading-6 text-gray-900 sm:truncate">
                                            Tableau de bord
                                        </h1>
                                    </div>
                                {% endblock %}
                            </h1>
                        </div>
                        <div class="mt-4 flex sm:mt-0 sm:ml-4 inline-flex items-center">
                            {% block page_actions %}
                                {% block global_actions %}
                                    {% if global_actions is defined %}
                                        {% for action in global_actions %}
                                            {{ include(action.templatePath, { action: action }, with_context = false) }}
                                        {% endfor %}
                                    {% endif %}
                                {% endblock global_actions %}
                            {% endblock page_actions %}
                        </div>
                    </div>


                    <!-- Projects list (only on smallest breakpoint) -->
                    <div class="mt-10 sm:hidden">
                        <div class="px-4 sm:px-6">
                            <h2 class="text-gray-500 text-xs font-medium uppercase tracking-wide">Projects</h2>
                        </div>
                        <ul class="mt-3 border-t border-gray-200 divide-y divide-gray-100">
                            <li>
                                <a href="#"
                                   class="group flex items-center justify-between px-4 py-4 hover:bg-gray-50 sm:px-6">
              <span class="flex items-center truncate space-x-3">
                <span class="w-2.5 h-2.5 flex-shrink-0 rounded-full bg-pink-600" aria-hidden="true"></span>
                <span class="font-medium truncate text-sm leading-6">
                  GraphQL API
                  <span class="truncate font-normal text-gray-500">in Engineering</span>
                </span>
              </span>
                                    <!-- Heroicon name: solid/chevron-right -->
                                    <svg class="ml-4 h-5 w-5 text-gray-400 group-hover:text-gray-500"
                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                         aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                </a>
                            </li>

                            <!-- More items... -->
                        </ul>
                    </div>


                    {% block content %}

                        {% block page_content %}

                        {% endblock %}
                        <div class="content">
                            {% block content_header_wrapper %}
                                {% set has_help_message = (ea.crud.helpMessage ?? '') is not empty %}
                                <section class="content-header">
                                    {% block content_header %}
                                        <div class="d-flex flex-row justify-content-between align-content-center w-100">
                                            <div class="content-header-title">
                                                <h1 class="title">

                                                    {% block content_help %}
                                                        {% if has_help_message %}
                                                            <span class="content-header-help">
                                                             <i class="far fa-question-circle" data-toggle="tooltip"
                                                                title="{{ ea.crud.helpMessage|e('html_attr') }}"></i>
                                                             </span>
                                                        {% endif %}
                                                    {% endblock %}
                                                </h1>
                                            </div>

                                            {# {% block page_actions_wrapper %} #}
                                            {# <div class="page-actions">{% block page_actions %}{% endblock %}</div> #}
                                            {# {% endblock %} #}
                                        </div>
                                    {% endblock content_header %}
                                </section>
                            {% endblock content_header_wrapper %}

                            <section id="main" class="content-body">
                                {% block main %}{% endblock %}
                            </section>

                            {% block content_footer_wrapper %}
                                {% set content_footer = block('content_footer') is defined ? block('content_footer') : '' %}
                                {% if content_footer is not empty %}
                                    <section class="content-footer">
                                        {{ content_footer }}
                                    </section>
                                {% endif %}
                            {% endblock %}
                        </div>
                    {% endblock content %}


                    {# <!-- Projects table (small breakpoint and up) --> #}
                    {# <div class="hidden mt-8 sm:block"> #}
                    {# <div class="align-middle inline-block min-w-full border-b border-gray-200"> #}
                    {# <table class="min-w-full"> #}
                    {# <thead> #}
                    {# <tr class="border-t border-gray-200"> #}
                    {# <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"> #}
                    {# <span class="lg:pl-2">Project</span> #}
                    {# </th> #}
                    {# <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"> #}
                    {# Members #}
                    {# </th> #}
                    {# <th class="hidden md:table-cell px-6 py-3 border-b border-gray-200 bg-gray-50 text-right text-xs font-medium text-gray-500 uppercase tracking-wider"> #}
                    {# Last updated #}
                    {# </th> #}
                    {# <th class="pr-6 py-3 border-b border-gray-200 bg-gray-50 text-right text-xs font-medium text-gray-500 uppercase tracking-wider"></th> #}
                    {# </tr> #}
                    {# </thead> #}
                    {# <tbody class="bg-white divide-y divide-gray-100"> #}
                    {# <tr> #}
                    {# <td class="px-6 py-3 max-w-0 w-full whitespace-nowrap text-sm font-medium text-gray-900"> #}
                    {# <div class="flex items-center space-x-3 lg:pl-2"> #}
                    {# <div class="flex-shrink-0 w-2.5 h-2.5 rounded-full bg-pink-600" #}
                    {# aria-hidden="true"></div> #}
                    {# <a href="#" class="truncate hover:text-gray-600"> #}
                    {# <span> #}
                    {# GraphQL API #}
                    {# <span class="text-gray-500 font-normal">in Engineering</span> #}
                    {# </span> #}
                    {# </a> #}
                    {# </div> #}
                    {# </td> #}
                    {# <td class="px-6 py-3 text-sm text-gray-500 font-medium"> #}
                    {# <div class="flex items-center space-x-2"> #}
                    {# <div class="flex flex-shrink-0 -space-x-1"> #}
                    {# <img class="max-w-none h-6 w-6 rounded-full ring-2 ring-white" #}
                    {# src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixqx=z5gQzyVp0c&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" #}
                    {# alt="Dries Vincent"> #}

                    {# <img class="max-w-none h-6 w-6 rounded-full ring-2 ring-white" #}
                    {# src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixqx=z5gQzyVp0c&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" #}
                    {# alt="Lindsay Walton"> #}

                    {# <img class="max-w-none h-6 w-6 rounded-full ring-2 ring-white" #}
                    {# src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixqx=z5gQzyVp0c&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" #}
                    {# alt="Courtney Henry"> #}

                    {# <img class="max-w-none h-6 w-6 rounded-full ring-2 ring-white" #}
                    {# src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixqx=z5gQzyVp0c&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" #}
                    {# alt="Tom Cook"> #}
                    {# </div> #}

                    {# <span class="flex-shrink-0 text-xs leading-5 font-medium">+8</span> #}
                    {# </div> #}
                    {# </td> #}
                    {# <td class="hidden md:table-cell px-6 py-3 whitespace-nowrap text-sm text-gray-500 text-right"> #}
                    {# March 17, 2020 #}
                    {# </td> #}
                    {# <td class="pr-6"> #}
                    {# <div class="relative flex justify-end items-center"> #}
                    {# <button type="button" #}
                    {# class="w-8 h-8 bg-white inline-flex items-center justify-center text-gray-400 rounded-full hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500" #}
                    {# id="project-options-menu-0" aria-expanded="false" #}
                    {# aria-haspopup="true"> #}
                    {# <span class="sr-only">Open options</span> #}
                    {# <!-- Heroicon name: solid/dots-vertical --> #}
                    {# <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" #}
                    {# viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"> #}
                    {# <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"/> #}
                    {# </svg> #}
                    {# </button> #}

                    {# <!-                                            -#}
                    {# Dropdown menu, show/hide based on menu state. #}

                    {# Entering: "transition ease-out duration-100" #}
                    {# From: "transform opacity-0 scale-95" #}
                    {# To: "transform opacity-100 scale-100" #}
                    {# Leaving: "transition ease-in duration-75" #}
                    {# From: "transform opacity-100 scale-100" #}
                    {# To: "transform opacity-0 scale-95" #}
                    {# --> #}
                    {# #}{# <div class="mx-3 origin-top-right absolute right-7 top-0 w-48 mt-1 rounded-md shadow-lg z-10 bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-200 focus:outline-none" #}
                    {# #}{# role="menu" aria-orientation="vertical" #}
                    {# #}{# aria-labelledby="project-options-menu-0"> #}
                    {# #}{# <div class="py-1" role="none"> #}
                    {# #}{# <a href="#" #}
                    {# #}{# class="group flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" #}
                    {# #}{# role="menuitem"> #}
                    {# #}{# <!-- Heroicon name: solid/pencil-alt --> #}
                    {# #}{# <svg class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" #}
                    {# #}{# xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" #}
                    {# #}{# fill="currentColor" aria-hidden="true"> #}
                    {# #}{# <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"/> #}
                    {# #}{# <path fill-rule="evenodd" #}
                    {# #}{# d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" #}
                    {# #}{# clip-rule="evenodd"/> #}
                    {# #}{# </svg> #}
                    {# #}{# Edit #}
                    {# #}{# </a> #}
                    {# #}{# <a href="#" #}
                    {# #}{# class="group flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" #}
                    {# #}{# role="menuitem"> #}
                    {# #}{# <!-- Heroicon name: solid/duplicate --> #}
                    {# #}{# <svg class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" #}
                    {# #}{# xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" #}
                    {# #}{# fill="currentColor" aria-hidden="true"> #}
                    {# #}{# <path d="M7 9a2 2 0 012-2h6a2 2 0 012 2v6a2 2 0 01-2 2H9a2 2 0 01-2-2V9z"/> #}
                    {# #}{# <path d="M5 3a2 2 0 00-2 2v6a2 2 0 002 2V5h8a2 2 0 00-2-2H5z"/> #}
                    {# #}{# </svg> #}
                    {# #}{# Duplicate #}
                    {# #}{# </a> #}
                    {# #}{# <a href="#" #}
                    {# #}{# class="group flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" #}
                    {# #}{# role="menuitem"> #}
                    {# #}{# <!-- Heroicon name: solid/user-add --> #}
                    {# #}{# <svg class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" #}
                    {# #}{# xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" #}
                    {# #}{# fill="currentColor" aria-hidden="true"> #}
                    {# #}{# <path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"/> #}
                    {# #}{# </svg> #}
                    {# #}{# Share #}
                    {# #}{# </a> #}
                    {# #}{# </div> #}
                    {# #}{# <div class="py-1" role="none"> #}
                    {# #}{# <a href="#" #}
                    {# #}{# class="group flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" #}
                    {# #}{# role="menuitem"> #}
                    {# #}{# <!-- Heroicon name: solid/trash --> #}
                    {# #}{# <svg class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" #}
                    {# #}{# xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" #}
                    {# #}{# fill="currentColor" aria-hidden="true"> #}
                    {# #}{# <path fill-rule="evenodd" #}
                    {# #}{# d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" #}
                    {# #}{# clip-rule="evenodd"/> #}
                    {# #}{# </svg> #}
                    {# #}{# Delete #}
                    {# #}{# </a> #}
                    {# #}{# </div> #}
                    {# #}{# </div> #}
                    {# </div> #}
                    {# </td> #}
                    {# </tr> #}

                    {# <!-- More items... --> #}
                    {# </tbody> #}
                    {# </table> #}
                    {# </div> #}
                    {# </div> #}
                </main>
            </div>
        </div>


        {# <div class="wrapper"> #}
        {# {% block wrapper %} #}
        {# <header class="bg-red-200 text-blue-300"> #}
        {# {% block header %} #}
        {# <nav class="navbar" role="navigation"> #}
        {# {% block header_navbar %} #}
        {# <button id="navigation-toggler" type="button" aria-label="Toggle navigation"> #}
        {# <i class="fa fa-fw fa-bars"></i> #}
        {# </button> #}

        {# <div id="header-logo"> #}
        {# {% block header_logo %} #}
        {# <a class="logo {{ ea.dashboardTitle|length > 14 ? 'logo-long' }}" #}
        {# title="{{ ea.dashboardTitle|striptags }}" #}
        {# href="{{ path(ea.dashboardRouteName) }}"> #}
        {# {{ ea.dashboardTitle|raw }} #}
        {# </a> #}
        {# {% endblock header_logo %} #}
        {# </div> #}
        {# {% endblock header_navbar %} #}
        {# </nav> #}

        {# {% set _user_menu_content %} #}
        {# <div class="popover-content-section user-details {{ ea.userMenu.items|length > 0 ? 'user-has-actions' }}"> #}
        {# <p class="small text-muted mb-0">{{ 'user.logged_in_as'|trans(domain = 'EasyAdminBundle') }}</p> #}
        {# <p class="user-details-name"> #}
        {# {{ ea.user is null ? 'user.anonymous'|trans(domain = 'EasyAdminBundle') : ea.userMenu.name }} #}
        {# </p> #}
        {# </div> #}

        {# {% block user_menu %} #}
        {# {% if ea.userMenu.items|length > 0 %} #}
        {# <div class="popover-content-section user-menu"> #}
        {# {% for item in ea.userMenu.items %} #}
        {# {% if item.isMenuSection %} #}
        {# <hr class="m-0"/> #}
        {# {% else %} #}
        {# <a href="{{ item.linkUrl }}" class="user-action {{ item.cssClass }}" #}
        {# target="{{ item.linkTarget }}" rel="{{ item.linkRel }}" #}
        {# referrerpolicy="origin-when-cross-origin"> #}
        {# {% if item.icon is not empty %}<i #}
        {# class="fa fa-fw {{ item.icon }}"></i>{% endif %} #}
        {# <span>{{ item.label }}</span> #}
        {# </a> #}
        {# {% endif %} #}
        {# {% endfor %} #}
        {# </div> #}
        {# {% endif %} #}
        {# {% endblock user_menu %} #}
        {# {% endset %} #}

        {# <div class="content-top navbar-custom-menu"> #}
        {# {% block header_custom_menu %} #}
        {# {% if constant('Symfony\\Component\\Security\\Core\\Authorization\\Voter\\AuthenticatedVoter::IS_IMPERSONATOR') is defined %} #}
        {# {% set impersonator_permission = 'IS_IMPERSONATOR' %} #}
        {# {% else %} #}
        {# {% set impersonator_permission = 'ROLE_PREVIOUS_ADMIN' %} #}
        {# {% endif %} #}

        {# <div class="user user-menu-wrapper {{ is_granted(impersonator_permission) ? 'user-is-impersonated' }}" #}
        {# data-toggle="popover" data-placement="bottom" data-container=".user-menu-wrapper" #}
        {# data-content="{{ _user_menu_content|e('html_attr') }}" data-html="true"> #}
        {# {% if ea.userMenu.isAvatarDisplayed %} #}
        {# {% if null == ea.userMenu.avatarUrl %} #}
        {# <i class="fa fa-fw {{ ea.user is not null ? 'fa-user-circle' : 'fa-user-times' }} user-avatar"></i> #}
        {# {% else %} #}
        {# <img class="user-avatar" src="{{ ea.userMenu.avatarUrl }}"/> #}
        {# {% endif %} #}
        {# {% endif %} #}
        {# {% if ea.userMenu.isNameDisplayed %} #}
        {# <span class="user-name">{{ ea.userMenu.name }}</span> #}
        {# {% endif %} #}
        {# </div> #}
        {# {% endblock header_custom_menu %} #}
        {# </div> #}
        {# {% endblock header %} #}
        {# </header> #}

        {# <aside class="main-sidebar"> #}
        {# {% block sidebar %} #}
        {# <section class="sidebar"> #}
        {# {% block main_menu_wrapper %} #}
        {# {{ include(ea.templatePath('main_menu')) }} #}
        {# {% endblock main_menu_wrapper %} #}
        {# </section> #}

        {# {% endblock sidebar %} #}
        {# </aside> #}

        {# <div class="content-wrapper"> #}
        {# <div id="sidebar-resizer-handler" class="resizer-handler resizer-handler-left"></div> #}

        {# {% block content %} #}
        {# <div class="content"> #}
        {# {% block content_header_wrapper %} #}
        {# {% set has_help_message = (ea.crud.helpMessage ?? '') is not empty %} #}
        {# <section class="content-header"> #}
        {# {% block content_header %} #}
        {# <div class="d-flex flex-row justify-content-between align-content-center w-100"> #}
        {# <div class="content-header-title"> #}
        {# <h1 class="title"> #}
        {# {% block content_title %}{% endblock %} #}

        {# {% block content_help %} #}
        {# {% if has_help_message %} #}
        {# <span class="content-header-help"> #}
        {# <i class="far fa-question-circle" data-toggle="tooltip" #}
        {# title="{{ ea.crud.helpMessage|e('html_attr') }}"></i> #}
        {# </span> #}
        {# {% endif %} #}
        {# {% endblock %} #}
        {# </h1> #}
        {# </div> #}

        {# {% block page_actions_wrapper %} #}
        {# <div class="page-actions">{% block page_actions %}{% endblock %}</div> #}
        {# {% endblock %} #}
        {# </div> #}
        {# {% endblock content_header %} #}
        {# </section> #}
        {# {% endblock content_header_wrapper %} #}

        {# <section id="main" class="content-body"> #}
        {# {% block main %}{% endblock %} #}
        {# </section> #}

        {# {% block content_footer_wrapper %} #}
        {# {% set content_footer = block('content_footer') is defined ? block('content_footer') : '' %} #}
        {# {% if content_footer is not empty %} #}
        {# <section class="content-footer"> #}
        {# {{ content_footer }} #}
        {# </section> #}
        {# {% endif %} #}
        {# {% endblock %} #}
        {# </div> #}
        {# {% endblock content %} #}

        {# <div id="content-resizer-handler" class="resizer-handler resizer-handler-right"></div> #}
        {# </div> #}
        {# {% endblock wrapper %} #}
        {# </div> #}
    {% endblock wrapper_wrapper %}

    {% block body_javascript %}{% endblock body_javascript %}

    {% block configured_javascripts %}
        {% for js_asset in ea.assets.jsFiles ?? [] %}
            <script src="{{ asset(js_asset) }}"></script>
        {% endfor %}

        {% for webpack_encore_entry in ea.assets.webpackEncoreEntries ?? [] %}
            {{ ea_call_function_if_exists('encore_entry_script_tags', webpack_encore_entry) }}
        {% endfor %}
    {% endblock %}

    {% block configured_body_contents %}
        {% for htmlContent in ea.assets.bodyContents ?? [] %}
            {{ htmlContent|raw }}
        {% endfor %}
    {% endblock %}
    </body>
{% endblock body %}
</html>
